# System / IDE
.DS_Store
.idea/
.vscode/
*.log

# Environment files
.env
.env.local
.env.production

# Node.js
node_modules/
npm-debug.log
yarn-error.log
dist/
build/

# Go (Golang)
bin/
*.exe
*.test
*.out

# Python (kalau ada)
__pycache__/
*.pyc

# OS
Thumbs.db
